.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(139, 164, 187, 0.08);
}

.header__location {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #141414;
  margin: 0;
}

.header__link {
  width: 9px;
  height: 16px;
  background-image: url('../../images/caret.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
}

.header__link:hover {
  opacity: 0.8;
}
